name: Spellcheck

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  typos:
    name: Spell Check (typos)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Check for typos
        uses: crate-ci/typos@5666f44f51e5e0da9b66f2a24344077227367205 # v1.29.9
